body{
  --main-color: #161528;
  --color-yelow: #CFB054;
  --color-white: #DBDBDB;
  font-family: 'Open Sans', sans-serif;
}
a{
  color: var(--main-color);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
h1{
  font-size: 36px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 22px;
}
h4{
  font-size: 18px;
}
.block_hello{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--main-color);
  padding: 100px;
  background: var(--main-color) url('../img/phon1.png');
  background-position: 0px -65px;
  background-size: cover;
  background-blend-mode: multiply;
}
.hello_body{
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-yelow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.hello_title{
  width: 50%;
  height: 100%;
  position: relative;
  /* background-color: #9D8848; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-left: 40px;
  float: left;
}
.hello_title hr{
  width: 80%;
  height: 1px;
  background-color: var(--color-yelow);
  margin-top: 20px;
}
.hello_title h1,h2,h4{
  /* border: 1px solid red; */
  position: relative;
}
.hello_title h2{
  text-transform: uppercase;
  color: var(--color-yelow);
  padding-left: 60px;
  letter-spacing: 2px;
  font-size: 22px;
}
.hello_title h2::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: var(--color-white);
  margin-left: 10px;
  border-radius: 20px;
}
.hello_title h1{
  color: var(--color-white);
  font-weight: bold;
}
.hello_title h4{
  color: var(--color-white);
  line-height: 20px;
}
.hello_button{
  width: 160px;
  height: 40px;
  background-color: var(--color-yelow);
  border: 1px solid #A88B34;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  transition-duration: 0.4s;
  letter-spacing: 2px;
}
.hello_button:active{
  background-color: #746025;
  color: var(--color-white);
  /* border-radius: 10px; */
  transform: scale(0.98);
}
.hello_photo{
  position: relative;
  width: 50%;
  height: 100%;
}
.hello_photo div{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  background: url('../img/avatar2.png');
  background-position: 0px -25px;
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: 1px 1px 4px var(--color-yelow); */
}

/* ------------------------------------------------------ */

.block_contact{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 5;
}
.contact_block ul{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact_block ul li{
  height: 30px;
  width: 30px;
  margin-left: 20px;
}
.contact_block ul li:hover{
  transform: scale(1.1);
}
.contact_block ul img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-color: var(--color-yelow);
  border-radius: 50%;
}
.block_contacts_mobile{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: var(--main-color);
  padding: 40px;
  transition-duration: 0.7s;

  transform: translateX(-100%);
  display: none;
}
.contacts_mobile_body{
  height: 100%;
  width: 100%;
  position: relative;
  /* border: 1px solid red; */
  padding: 40px;
}
.contacts_mobile_body h1{
  font-size: 120px;
  color: var(--color-white);
  margin-bottom: 100px;
}
.contacts_mobile_body li{
  font-size: 80px;
  color: var(--color-white);
  margin-bottom: 50px;
  line-height: 24px;
  opacity: 0;
  transition-duration: 0.2s;
}
.contacts_mobile_Li li:nth-child(1){
    transition-delay: 0.4s;
}
.contacts_mobile_Li li:nth-child(2){
    transition-delay: 0.6s;
}
.contacts_mobile_Li li:nth-child(3){
    transition-delay: 0.8s;
}
.contacts_mobile_Li li:nth-child(4){
    transition-delay: 1s;
}
.contacts_mobile_Li li{
  opacity: 1;
}
.button_contacts_mobile{
  position: fixed;
  height: 70px;
  width: 70px;
  background: var(--color-yelow) url('../img/contact.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  left: 60px;
  top: 200px;
  z-index: 15;
  border-radius: 50%;
  opacity: 0.3;
  transition-duration: 0.2s;
  display: none;
}
.button_contacts_mobile:hover{
  opacity: 0.9;
}
.button_clouse{
  position: absolute;
  right: 5px;
  top: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: var(--color-yelow) url('../img/close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  opacity: 0.5;
  transition-duration: 0.2s;
}
.button_clouse:hover{
  opacity: 0.9;
}
/* ------------------------------------------------------ */
.block1{
  position: relative;
  width: 100%;
  height: auto;
  padding: 100px;
  color: var(--main-color);
  background: var(--color-white) url('../img/phon1.png');
  background-position: 0px -65px;
  background-size: cover;
}
.block1_body{
  border: 1px solid var(--main-color);
  width: 100%;
  height: 100%;
  padding: 20px;
  background: var(--color-white);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  /* flex-direction: column; */
}
.block1_body1{
  width: 50%;
}
.block1_body2{
  width: 50%;
}
.block_none{
  display: none;
}
.block1_body p{
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.block1_body p:before{
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-image: url("../img/mark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
.block1_body h3{
  margin-top: 20px;
  margin-bottom: 10px;
}
.block1_body h3:first-child{
  margin-top: 0px;
  margin-bottom: 10px;
}
.block1_body2 span{
  display: block;
  color: #34324d;
  opacity: 0.6;
  padding-left: 30px;
  padding-bottom: 5px;
}
#popUp{
  cursor: pointer;
  color: #b08505;
}
#popUp:hover{
  text-decoration: underline;
}
a{
  color: #b08505;
}
a:hover{
  text-decoration: underline;
}
#copy{
  cursor: pointer;
  color: #b08505;
}
#copy:hover{
  text-decoration: underline;
}
/* -------------------------------------------------- */
.BlockPopup{
  width: 100%;
  height: 100%;
  color: var(--main-color);
  background: var(--color-white) url('../img/phon1.png');
  background-position: 0px -65px;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
}
.popup_close{
  position: absolute;
  right: 100px;
  top: 40px;
  width: 40px;
  height: 40px;
  background: var(--color-yelow) url('../img/close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  border-radius: 50%;
  z-index: 15;
  transition-duration: 0.2s;
  opacity: 0.5;
}
.popup_close:hover{
  transform: scale(1.1);
  background: #e5ca77 url('../img/close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  opacity: 0.9;
}
.BlockPopup_body{
  height: 100%;
  width: 100%;
}
.Popup_body_grid{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);;
}
.popup_element{
  position: relative;
  padding: 10px;
}
.popup_element:hover img{
  border: 1px solid var(--color-yelow);
}
.popup_element_screen{
  width: 100%;
  height: 100%;
}
.popup_element_screen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--main-color);
  border-radius: 20px;
}
.popup_element_title{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  color: var(--color-white);
  text-shadow: 1px 1px 1px black;
  font-size: 15px;
  width: 100%;
  text-align: center;
}
/* -------------------------------------------------- */
.block_save{
  position: fixed;
  width: auto;
  height: auto;
  background-color: var(--color-white);
  border: 1px solid var(--main-color);
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 14px;
  letter-spacing: 2px;
  font-size: 14px;
  border-radius: 20px;
  opacity: 0;
  animation-name: save;
  animation-duration: 1s;
  animation-delay: 0s;
}
@keyframes save {
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 0;}
}
.save_active{
  display: flex;
}

.footer{
  position: relative;
  width: 100%;
  height: 80px;
  background: var(--main-color) url('../img/phon1.png');
  background-position: 0px -65px;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
}
.footer hr{
  width: 80%;
  height: 1px;
  background-color: var(--color-yelow);
}
