@media (max-width: 1100px) {
  .block_contacts_mobile{
    display: block;
  }
  .button_contacts_mobile{
    display: block;
  }
  .block_contact{
    display: none;
  }
  .hello_body{
    flex-direction: column;
  }
  .contacts_mobile_body li{
    font-size: 6vh;
  }
  .hello_title{
    width: 80%;
  }
  .hello_title hr{
    width: 100%;
  }
  .hello_title h2{
    font-size: 26px;
  }
  .hello_title h1{
    font-size: 36px;
  }
  .hello_title h4{
    font-size: 22px;
  }
  .hello_button{
    font-size: 20px;
    width: 100%;
    height: 70px;
  }
  .popup_close{
    right: 20px;
    top: 20px;
    width: 70px;
    height: 70px;
  }
  .contacts_mobile_body{
    padding: 10px;
  }
  .block_hello{
    padding: 20px;
  }
}

@media (max-width: 980px) {
  .Popup_body_grid{
    grid-template-columns: 1fr;
    height: auto;
  }
  .contacts_mobile_body li{
    font-size: 4vh;
  }
  .block1_body{
    flex-direction: column;
  }
  .block1_body h3{
    font-size: 2.6vh;
  }
  .block1_body p{
    font-size: 2vh;
    line-height: 28px;
  }
  .block1_body2 span{
    font-size: 2vh;
    padding-left: 35px;
    padding-bottom: 15px;
  }
  .block1_body1,
  .block1_body2{
    width: 100%;
  }
  .block1_body p{
    padding-left: 35px;
    margin-bottom: 15px;
  }
  .block1_body h3{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .block1_body p:before{
    width: 15px;
    height: 15px;
  }
  .contacts_mobile_body h1{
    font-size: 80px;

  }
  .block1{
    padding: 20px;
  }
  .popup_element_title{
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .button_clouse{
    right: 30px;
  }
  .block1_body p{
    font-size: 1.6vh;
    line-height: 24px;
  }
  .block1_body2 span{
    font-size: 1.6vh;
    padding-left: 35px;
    padding-bottom: 15px;
  }
  .contacts_mobile_body h1{
    font-size: 40px;
    margin-bottom: 50px;
  }
  .contacts_mobile_body li{
    font-size: 3vh;
  }
  .popup_close{
    right: 20px;
    top: 20px;
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 650px) {
  .block1_body p{
    font-size: 1.3vh;
    line-height: 22px;
  }
  .block1_body2 span{
    font-size: 1.3vh;
    padding-left: 35px;
    padding-bottom: 15px;
  }
  .block1_body{
    overflow: hidden;
  }
  .hello_title{
    width: 90%;
    padding-left: 0px;
  }
  .hello_title h2{
    font-size: 20px;
    padding-left: 0px;
  }
  .hello_title h1{
    font-size: 36px;
  }
  .hello_title h4{
    font-size: 18px;
  }
  .hello_title h2::before{
    width: 0px;
  }
  .hello_photo div{
    width: 100%;
    height: 100%;
  }
  .button_contacts_mobile{
    top: 30px;
    left: 30px;
  }

}
